@import "global.css";
@import "bootstrap-datepicker3.css";

html,body {width: 100%; height: 100%; overflow:hidden; }

.checkbox {display:inline-block; vertical-align:middle; }
.checkbox input[type="checkbox"] {width: 0px; height: 0px; overflow:hidden; border: solid 0px #fff; opacity:0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.checkbox span {padding-left: 6px; color:#626262;}
.checkbox em {display:inline-block; width: 18px; height: 18px; box-sizing: border-box; border-radius: 2px; background-color:#fff; border: solid 1px #dedede; vertical-align:middle; transition:all 0.15s;}
.checkbox input[type="checkbox"]:checked + em {background:url(../../images/common/ico_chk.png) center center no-repeat; background-color:#6d5ab1; border: solid 1px #6d5ab1;}
.checkbox input[type="checkbox"]:disabled + em {background-color:#f8f8f8 ; border: solid 1px #eeeeee;}
.checkbox input[type="checkbox"]:disabled ~ span {opacity:0.5;}
.checkbox input[type="checkbox"]:disabled:checked + em {background-color:#6d5ab1 ; border: solid 1px #6d5ab1; opacity:0.3;}

.checkbox.complete input[type="checkbox"]:checked + em {background-color:#41aef9; border: solid 1px #41aef9;}
.checkbox.complete input[type="checkbox"]:disabled:checked + em {background-color:#41aef9 ; border: solid 1px #41aef9;}
.checkbox.success input[type="checkbox"]:checked + em {background-color:#00d0be; border: solid 1px #00d0be;}
.checkbox.success input[type="checkbox"]:disabled:checked + em {background-color:#00d0be ; border: solid 1px #00d0be;}
.checkbox.warning input[type="checkbox"]:checked + em {background-color:#f9d145; border: solid 1px #f9d145;}
.checkbox.warning input[type="checkbox"]:disabled:checked + em {background-color:#f9d145 ; border: solid 1px #f9d145;}
.checkbox.danger input[type="checkbox"]:checked + em {background-color:#f55653; border: solid 1px #f55653;}
.checkbox.danger input[type="checkbox"]:disabled:checked + em {background-color:#f55653 ; border: solid 1px #f55653;}

.radio {display:inline-block;  vertical-align:middle;}
.radio input[type="radio"] {width: 0px; height: 0px; overflow:hidden; border: solid 0px #fff; opacity:0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.radio span {padding-left: 6px; color:#626262;}
.radio em {display:inline-block; position:relative; width: 18px; height: 18px; box-sizing: border-box; border-radius: 18px; background-color:#fff; border: solid 1px #dedede; vertical-align:middle; transition:all 0.3s; }
.radio em::after {content:""; position:absolute; left:50%; top:50%; width: 0px; height: 0px; border-radius: 7px; background-color:#fff; transition:all 0.3s;}
.radio input[type="radio"]:checked + em {background-color:#6d5ab1; border: solid 1px #6d5ab1;}
.radio input[type="radio"]:checked + em::after {width: 8px; height: 8px; margin-left: -4px; margin-top: -4px;}
.radio input[type="radio"]:disabled + em {background-color:#f8f8f8 ; border: solid 1px #eeeeee;}
.radio input[type="radio"]:disabled ~ span {opacity:0.5;}
.radio input[type="radio"]:disabled:checked + em {background-color:#a79cd0 ; border: solid 1px #a79cd0; opacity:0.3;}

.radio.complete input[type="radio"]:checked + em {background-color:#41aef9; border: solid 1px #41aef9;}
.radio.complete input[type="radio"]:disabled:checked + em {background-color:#41aef9 ; border: solid 1px #41aef9;}
.radio.success input[type="radio"]:checked + em {background-color:#00d0be; border: solid 1px #00d0be;}
.radio.success input[type="radio"]:disabled:checked + em {background-color:#00d0be ; border: solid 1px #00d0be;}
.radio.warning input[type="radio"]:checked + em {background-color:#f9d145; border: solid 1px #f9d145;}
.radio.warning input[type="radio"]:disabled:checked + em {background-color:#f9d145 ; border: solid 1px #f9d145;}
.radio.danger input[type="radio"]:checked + em {background-color:#f55653; border: solid 1px #f55653;}
.radio.danger input[type="radio"]:disabled:checked + em {background-color:#f55653 ; border: solid 1px #f55653;}

.slide_toggle {display:inline-block;  vertical-align:middle;}
.slide_toggle input[type="checkbox"] {width: 0px; height: 0px; overflow:hidden; border: solid 0px #fff;  opacity:0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.slide_toggle em {display:inline-block; width: 54px; height: 34px; background-color:#f0f0f0; border-radius: 34px; position:relative; transition:all 0.3s;}
.slide_toggle em:after {content:""; display:block; position:absolute; left:2px; top:2px; width: 30px; height: 30px; background-color:#fff; border-radius: 33px; box-shadow: 0px 0px 5px rgba(0,0,0,0.2); transition:all 0.3s;}
.slide_toggle input[type="checkbox"]:checked ~ em {background-color:#6d5ab1;}
.slide_toggle input[type="checkbox"]:checked ~ em:after {left:22px}
.slide_toggle input[type="checkbox"]:disabled ~ em {opacity:0.5;}

.slide_toggle.complete input[type="checkbox"]:checked ~ em {background-color:#41aef9;}
.slide_toggle.success input[type="checkbox"]:checked ~ em {background-color:#00d0be;}
.slide_toggle.warning input[type="checkbox"]:checked ~ em {background-color:#f9d145;}
.slide_toggle.danger input[type="checkbox"]:checked ~ em {background-color:#f55653;}

.button {display:inline-block; position:relative; padding: 0 20px; margin: 0 1px; height:36px; border: solid 1px #f0f0f0; font-size:13px; line-height:36px; color:#5e5e5e; box-sizing: border-box; border-radius: 4px; vertical-align:middle; transition:all 0.2s;}
.button:hover {background-color:#FAFAFA; border: solid 1px #d9d9d9;}
.button:active {background-color:#f1f1f1; border: solid 1px #e6e6e6;}
.button.disabled {background-color:#fff; border: solid 1px #f7f7f7; color:#cccccc;}
.button.large {padding: 0 24px; height: 45px; font-size:14px; line-height:43px;}
.button.small {padding: 0 18px; height: 32px; font-size:12px; line-height:30px;}
.button.tiny {padding: 0 12px; height: 27px; font-size:11px; line-height:25px;}
.button img {vertical-align:sub; }
.button:before {content:''; line-height:inherit; vertical-align:middle; }
.button:after {content:''; width: 100%; height: 100%;  position:absolute; left:0px; top:0px; background-color:#fff; opacity:0; transition:all 0.2s;}
.button em {vertical-align:top;}
.button img + em {padding-left: 10px; }
.button.small img + em {padding-left: 6px; }
.button.tiny img + em {padding-left: 5px; }

.button:hover:after {background-color:#fff; opacity:0.2;}
.button:active:after {background-color:#000; opacity:0.17;}
.button.disabled:after {background-color:#fff; opacity:0.5;}
.button.primary		{background-color:#6d5ab1; color:#fff; border: solid 0px #fff;}
.button.complete	{background-color:#41aef9; color:#fff; border: solid 0px #fff;}
.button.success		{background-color:#00d0be; color:#fff; border: solid 0px #fff;}
.button.warning		{background-color:#f9d145; color:#fff; border: solid 0px #fff;}
.button.danger		{background-color:#f55653; color:#fff; border: solid 0px #fff;}

input[type="submit"].button {border: solid 1px #f0f0f0; background-color:#fff;}
input[type="submit"].button:hover {background-color:#FAFAFA; border: solid 1px #d9d9d9;}
input[type="submit"].button:active {background-color:#f1f1f1; border: solid 1px #e6e6e6;}
input[type="submit"].button:disabled {background-color:#fff; border: solid 1px #f7f7f7; color:#cccccc;}

input[type="submit"].button.primary		{background-color:#6d5ab1;}
input[type="submit"].button.complete	{background-color:#41aef9;}
input[type="submit"].button.success		{background-color:#00d0be;}
input[type="submit"].button.warning		{background-color:#f9d145;}
input[type="submit"].button.danger		{background-color:#f55653;}

input[type="submit"].button.primary:hover	{background-color:#8a7bc1;}
input[type="submit"].button.complete:hover	{background-color:#67befa;}
input[type="submit"].button.success:hover	{background-color:#33d9cb;}
input[type="submit"].button.warning:hover	{background-color:#fada6a;}
input[type="submit"].button.danger:hover	{background-color:#f77875;}

input[type="submit"].button.primary:active	{background-color:#5b4b93;}
input[type="submit"].button.complete:active {background-color:#3691cf;}
input[type="submit"].button.success:active	{background-color:#00ad9e;}
input[type="submit"].button.warning:active	{background-color:#cfae39;}
input[type="submit"].button.danger:active	{background-color:#cc4745;}

input[type="submit"].button.primary:disabled	{background-color:#c7c0e1;}
input[type="submit"].button.complete:disabled	{background-color:#b7e0fd;}
input[type="submit"].button.success:disabled	{background-color:#9eede6;}
input[type="submit"].button.warning:disabled	{background-color:#fdeeb8;}
input[type="submit"].button.danger:disabled		{background-color:#fbbfbe;}

button.button {border: solid 1px #f0f0f0; background-color:#fff;}
button.button:hover {background-color:#FAFAFA; border: solid 1px #d9d9d9;}
button.button:active {background-color:#f1f1f1; border: solid 1px #e6e6e6;}
button.button:disabled {background-color:#fff; border: solid 1px #f7f7f7; color:#cccccc;}

button.button.primary		{background-color:#6d5ab1;}
button.button.complete		{background-color:#41aef9;}
button.button.success		{background-color:#00d0be;}
button.button.warning		{background-color:#f9d145;}
button.button.danger		{background-color:#f55653;}

button.button.primary:hover		{background-color:#8a7bc1;}
button.button.complete:hover	{background-color:#67befa;}
button.button.success:hover		{background-color:#33d9cb;}
button.button.warning:hover		{background-color:#fada6a;}
button.button.danger:hover		{background-color:#f77875;}

button.button.primary:active	{background-color:#5b4b93;}
button.button.complete:active	{background-color:#3691cf;}
button.button.success:active	{background-color:#00ad9e;}
button.button.warning:active	{background-color:#cfae39;}
button.button.danger:active		{background-color:#cc4745;}

button.button.primary:disabled	{background-color:#c7c0e1;}
button.button.complete:disabled {background-color:#b7e0fd;}
button.button.success:disabled	{background-color:#9eede6;}
button.button.warning:disabled	{background-color:#fdeeb8;}
button.button.danger:disabled	{background-color:#fbbfbe;}


.text_toggle {display:inline-block; border: solid 1px #f0f0f0; background-color:#fff; border-radius: 30px; vertical-align:middle; overflow:hidden; }
.text_toggle label {display:inline-block; margin-left: -4px;}
.text_toggle label span {display:inline-block; padding: 0 15px; border-left: solid 1px #f0f0f0; font-size:12px; line-height:27px; color:#aeaeae; transition:all 0.3s;}
.text_toggle label:first-child {margin-left: 0px;}
.text_toggle label:first-child span {border-left: solid 0px #f0f0f0; padding-left: 20px; }
.text_toggle label:last-child span {padding-right: 20px; }
.text_toggle input[type="radio"] {width: 0px; height: 0px; border: solid 0px #fff;  opacity:0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.text_toggle input[type="radio"]:checked ~ span {background-color:#f0f0f0; color:#626262;}
.text_toggle input[type="checkbox"] {width: 0px; height: 0px; border: solid 0px #fff;  opacity:0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.text_toggle input[type="checkbox"]:checked ~ span {background-color:#f0f0f0; color:#626262;}

select {position:relative; display:inline-block; width: auto; min-width:100px; height: 36px; font-size:13px; color:#5e5e5e; padding-left: 10px; padding-right: 30px; border-radius: 4px; border: solid 1px #f0f0f0; -webkit-appearance: none; -moz-appearance: none; appearance: none;
	background:url(../../images/common/ico_select_down.png) right center no-repeat;
}
select::-ms-expand {   display: none; }

input[type="text"] {border: solid 1px #eeeeee; padding: 0 14px; height: 36px; font-size:13px; line-height:34px; color:#282828; text-align:left; border-radius: 4px; transition:border 0.2s;}
input[type="text"].center {text-align:center; }
input[type="text"].large {height: 45px; line-height:45px; padding: 0 15px; font-size:16px; }
input[type="text"].small {height: 32px; line-height:32px; padding: 0 11px; font-size:12px; }
input[type="text"]:focus {border: solid 1px #6d5ab1;}
input[type="text"]:disabled {background-color:#f8f8f8;}

input[type="password"] {border: solid 1px #eeeeee; padding: 0 14px; height: 36px; font-size:13px; line-height:34px; color:#282828; text-align:left; border-radius: 4px; transition:border 0.2s;}
input[type="password"].large {height: 45px; line-height:45px; padding: 0 15px; font-size:16px; }
input[type="password"].small {height: 32px; line-height:32px; padding: 0 11px; font-size:12px; }
input[type="password"]:focus {border: solid 1px #6d5ab1;}
input[type="password"]:disabled {background-color:#f8f8f8;}

textarea {border: solid 1px #eeeeee; padding: 0 14px; height: 36px; font-size:13px; line-height:36px; color:#282828; text-align:left; border-radius: 4px; transition:border 0.2s;}
textarea:focus {border: solid 1px #6d5ab1;}
textarea:disabled {background-color:#f8f8f8;}

.input_search_wraper {position:relative; display:inline-block; vertical-align:middle;}
.input_search_wraper .title {position:absolute; left:0px; top:-22px; font-size:11px; line-height:18px; color:#626262; vertical-align:top; }

.date_to_date {display:inline-block; vertical-align:middle; width: auto; }
.date_to_date input[type="text"] {width: 110px; vertical-align:middle; text-align:center; padding: 0 5px; transition:all 0.3s;}
.date_to_date input[type="text"]:focus {background-color:#f0f0f0; border: solid 1px #eeeeee;}
.date_to_date .input-group-addon {background-color:#f0f0f0; height: 36px; display:inline-block; padding: 0 6px; line-height:36px; vertical-align:middle;}

.file {display:inline-block; position:relative; width: auto; box-sizing: border-box; vertical-align:middle; }
.file input[type="text"] {width: auto; vertical-align:middle; }
.file a {margin-left: 8px;display:inline-block; position:relative; padding: 0 20px; height:36px; border: solid 1px #f0f0f0; font-size:13px; line-height:36px; color:#5e5e5e; box-sizing: border-box; border-radius: 4px; vertical-align:middle; transition:all 0.2s;}
.file.primary a		{background-color:#6d5ab1; color:#fff; border: solid 0px #fff;}
.file.complete a	{background-color:#41aef9; color:#fff; border: solid 0px #fff;}
.file.success a		{background-color:#00d0be; color:#fff; border: solid 0px #fff;}
.file.warning a		{background-color:#f9d145; color:#fff; border: solid 0px #fff;}
.file.danger a		{background-color:#f55653; color:#fff; border: solid 0px #fff;}
.file.large a {padding: 0 24px; height: 45px; font-size:14px; line-height:45px;}
.file.small a {padding: 0 18px; height: 32px; font-size:12px; line-height:32px;}
.file.tiny a {padding: 0 12px; height: 27px; font-size:11px; line-height:27px;}
.file a input[type="file"] {position: absolute;left: 0;top: 0;width: 100%;height: 100%; opacity:0; font-size: 1000000000px;}


#wrap {width: 100%; height: 100%; min-width:1366px; position:relative; display:inline-block; vertical-align:top; background-color:#f5f5f5;}

#left_area {position:absolute; left:0px; top:0px; z-index:80;  width: 210px;  height: 100%; overflow:hidden; background-color:#2b303b; transition:all 0.3s;}
.fixed_screen #left_area {left:-190px; }
.fixed_screen #left_area:hover {left:0;}
#left_area .top_area {position:absolute; left:0px; top:0px; z-index:10; width: 100%; height: 60px; background-color:#272b35;}
#left_area .top_area .logo {}
#left_area .top_area .btn_menu_fixed {width: 30px; height: 30px; position:absolute; right:15px; top:15px;}
#left_area .top_area .btn_menu_fixed span {position:absolute; left:50%; top:50%; margin-left: -6px; margin-top: -6px; display:inline-block; width: 10px; height: 10px; border: solid 2px #778095; background-color:#272b35; border-radius: 12px;}
#left_area .top_area .btn_menu_fixed span em {display:inline-block; width: 4px; height: 4px; position:absolute; left:50%; top:50%; margin-left: -2px; margin-top: -2px; background-color:#778095; border-radius: 4px; transition:all 0.3s;}
.fixed_screen #left_area .top_area .btn_menu_fixed span em {width: 0px; height: 0px; margin-left: 0px; margin-top: 0px;}
#left_area .menu_section {position:relative; width: 227px; height: 100%; box-sizing: border-box; padding-top: 60px; overflow-y:scroll; }
#left_area .menu_section .inner_section {width: 210px;}
#left_area .favor_menu {text-align:center; padding: 37px 0; }
#left_area .favor_menu select {width: 164px; height: 45px; padding-left: 16px;  border: solid 1px #778095; border-radius: 4px; font-size:14px; line-height:18px; color:#fff;
	background:url(../../images/common/ico_select_down2.png) right center no-repeat;
	background-color:transparent;
}
#left_area .favor_menu select:hover {background-color:#fafafa; color:#626262;}
#left_area .favor_menu select::-ms-expand {   display: none; }
#left_area .menu_list {}
#left_area .menu_list > li {}
#left_area .menu_list > li .btn_depth1 {display:block; height: 56px; padding: 0 47px 0 27px; font-size:14px; line-height:56px; color:#778095; position:relative; }
#left_area .menu_list > li .btn_depth1 em {width: 8px; height: 8px; position:absolute; right:25px; top:50%; margin-top: -4px; background:url(../../images/common/arrow1.png) center center no-repeat; transform: rotate(90deg); opacity:0.5; transition:all 0.3s;}
#left_area .menu_list > li.on .btn_depth1 {color:#fff;}
#left_area .menu_list > li.on .btn_depth1 em {transform: rotate(0deg); opacity:1;}
#left_area .menu_list > li > ul {background-color:#21252d; overflow:hidden; box-sizing: border-box; display:none; padding: 15px 0; }
#left_area .menu_list > li > ul > li > a {display:block; height: 40px; padding: 0 27px 0 37px; font-size:13px; line-height:40px; color:#778095;}
#left_area .menu_list > li > ul > li.on > a {color:#fff;}

#container {box-sizing: border-box; width: 100%; height: 100%; padding-left: 210px; position:relative; transition:all 0.3s; background-color:#fff;}
.fixed_screen #container {padding-left: 20px;}

.inner_container {width: 100%; height: 100%; position:relative;}

#header {position:relative; z-index:60; width: 100%; height: 60px; box-sizing: border-box; border-bottom: solid 1px #ededed; background-color:#fff;}
.fixed_screen #header {padding-left: 190px; }
#header .logo {display:none; position:absolute; left:0px; top:0px; width: 190px; height: 59px; text-align:center; background:url(../../images/common/bar1.gif) right center no-repeat; }
#header .logo a {display:block; }
.fixed_screen #header .logo {display:block; }
#header .gnb_box {width: 100%; overflow:hidden;}
#header .gnb {width: 200%; display:inline-block; vertical-align:top; }
#header .gnb li {float: left; }
#header .gnb li a {display:block; padding: 0 25px; font-size:15px; line-height:59px; color:#4c4c4c; opacity:0.5;}
#header .gnb li.on a {opacity:1; font-weight:bold; }
#header .user_area {display:inline-block; position:absolute; right:0px; top:0px; height: 59px; box-sizing: border-box; background-color:#fff; padding: 15px 22px 0 22px;  background:url(../../images/common/bar1.gif) left center no-repeat;}
#header .user_area .name {display:inline-block; font-size:14px; line-height:32px; color:#626262;}
#header .user_area .user_box {display:inline-block;  position:relative; vertical-align:middle; padding: 0 3px 0 6px; }
#header .user_area .user_box .btn_user {position:relative; display:inline-block;  width: 32px; height: 32px; font-size:15px; line-height:30px; color:#fff; box-sizing: border-box; background-color:#d2d2d2; text-align:center;	border-radius: 32px; border: solid 1px #c1c1c1; overflow:hidden; }
#header .user_area .user_box .btn_user img {position:absolute; left:0px; top:0px; width: 100%; }
#header .user_area .user_box .user_layer {display:none; position:absolute; left:-92px; top:48px; background-color:#fff; width: 140px; border-radius: 4px; border: solid 1px #e4e4e4; box-shadow: 0px 0px 8px rgba(0,0,0,0.1);}
#header .user_area .user_box.open .user_layer {display:block; }
#header .user_area .user_box .user_layer::before {content:""; display:block; width:22px; height:10px; position:absolute; right:16px; top:-10px; background:url(../../images/common/balloon1.png) center center no-repeat;}
#header .user_area .user_box .user_layer ul {padding: 15px 0;}
#header .user_area .user_box .user_layer ul li { }
#header .user_area .user_box .user_layer ul li a {display:block; padding: 0 0 0 22px; font-size:15px; line-height:36px; color:#626262; vertical-align:top; opacity:0.5;}
#header .user_area .user_box .user_layer ul li a:hover {opacity:1;}
#header .user_area .user_box .user_layer .btn_logout {display:block; padding: 0 0 0 22px; font-size:15px; line-height:40px; color:#626262; opacity:0.5; background:url(../../images/common/ico_logout.png) 110px center no-repeat;  background-color:#f5f5f5;}

#header .user_area .setting_box {display:inline-block; position:relative; vertical-align:middle; }
#header .user_area .setting_box .btn_setting {display:inline-block; width: 32px; height: 32px; background:url(../../images/common/btn_setting.png) center center no-repeat; }
#header .user_area .setting_box .setting_layer {display:none; position:absolute; left:-99px; top:48px; background-color:#fff; width: 140px; border-radius: 4px; border: solid 1px #e4e4e4; box-shadow: 0px 0px 8px rgba(0,0,0,0.1);}
#header .user_area .setting_box.open .setting_layer  {display:block; }
#header .user_area .setting_box .setting_layer::before {content:""; display:block; width:22px; height:10px; position:absolute; right:16px; top:-10px; background:url(../../images/common/balloon1.png) center center no-repeat;}
#header .user_area .setting_box .setting_layer ul {padding: 15px 0;}
#header .user_area .setting_box .setting_layer ul li { }
#header .user_area .setting_box .setting_layer ul li a {display:block; padding: 0 0 0 22px; font-size:15px; line-height:36px; color:#626262; vertical-align:top; opacity:0.5;}
#header .user_area .setting_box .setting_layer ul li a:hover {opacity:1;}

.conts_tab_area {width: 100%; overflow:hidden; box-sizing: border-box; padding: 12px 22px 0 22px; position:relative; z-index:10; background-color:#f5f5f5;}
.conts_tab_area ul {width: 100%; display:inline-block; vertical-align:top; }
.conts_tab_area ul li {float: left; width: 210px; position:relative; }
.conts_tab_area ul li a.tab {display:block; height: 32px; padding: 0 32px 0 16px; background:url(../../images/common/bar1.gif) right center no-repeat;  font-size:11px; line-height:32px; color:#bababa; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.conts_tab_area ul li a.tab:hover {background-color:#fafafa !important;}
.conts_tab_area ul li.on a.tab {color:#626262; background:none; background-color:#fff !important;}
.conts_tab_area ul li:last-child a.tab {background:none;}
.conts_tab_area ul li .tab_close {position:absolute; right:12px; top:9px; display:inline-block; width: 14px; height: 14px; background:url(../../images/common/ico_tab_close.png) center center no-repeat; opacity:0.5;}
.conts_tab_area ul li.on .tab_close {opacity:1;}


.conts_top_area .inner_cta {position:relative; padding: 0 38px; width: 100%; box-sizing: border-box; }
.fixed .conts_top_area .inner_cta {position:fixed; z-index:50;  min-width:1366px; left:0px; top:104px; padding-left: 248px;}
.fixed.search_open .conts_top_area .inner_cta {box-shadow: 0px 5px 5px rgba(0,0,0,0.05);}
.fixed_screen .fixed .conts_top_area .inner_cta {padding-left: 58px;}

.sub .conts_top_area .inner_cta {position:fixed; min-width:1366px; left:0px; top:104px; padding-left: 248px; transition:all 0.3s;}
.fixed_screen .sub .conts_top_area .inner_cta {padding-left: 58px;}

.conts_top_area .conts_infor_area {background-color:#fff; box-sizing: border-box; height: 160px; padding: 20px 0 30px 0; position:relative; overflow:hidden; border-bottom: solid 1px #f5f5f5;}
.fixed .conts_top_area .conts_infor_area {height: 55px;}

.conts_top_area .conts_infor_area .history_list {width: 100%; overflow:hidden; margin-bottom: 35px; }
.conts_top_area .conts_infor_area .history_list li {float: left; padding: 0 20px 0 13px; font-size:11px; line-height:18px; color:#b5b8bb; background:url(../../images/common/arrow2.png) right center no-repeat;}
.conts_top_area .conts_infor_area .history_list li a {display:inline-block; }
.conts_top_area .conts_infor_area .history_list li a:hover {text-decoration:underline; }
.conts_top_area .conts_infor_area .history_list li:first-child {padding-left: 0px; }
.conts_top_area .conts_infor_area .history_list li:last-child {background:none;}
.conts_top_area .conts_infor_area .history_list li:last-child a {color:#0090d9;}
.conts_top_area .conts_infor_area .title {font-size:29px; line-height:32px; color:#282828; margin-bottom: 8px; }
.conts_top_area .conts_infor_area .btn_favor {display:inline-block; vertical-align:middle; width: 16px; height: 16px; background:url(../../images/common/ico_favor_off.png) center center no-repeat; }
.conts_top_area .conts_infor_area .btn_favor.on {background:url(../../images/common/ico_favor_on.png) center center no-repeat; }
.conts_top_area .conts_infor_area .sub_comment {font-size:12px; line-height:18px; color:#aeaeae;}
.conts_top_area .conts_infor_area .sub_comment .btn_im {display:inline-block; vertical-align:middle; width: 16px; height: 16px; background:url(../../images/common/ico_im.png) center center no-repeat; }
.conts_top_area .conts_infor_area .btn_area {position:absolute; right:0px; bottom:30px; }
.fixed .conts_top_area .conts_infor_area .btn_area {bottom:9px}

.conts_top_area .conts_infor_area .btn_area .search_area_opener {display:none; vertical-align:middle; margin-left: 7px; padding-left: 11px; background:url(../../images/common/bar1.gif) left center no-repeat; }
.fixed .conts_top_area .conts_infor_area .btn_area .search_area_opener {display:inline-block; }
.conts_top_area .conts_infor_area .btn_area .search_area_opener a {width: 50px; position:relative; }
.conts_top_area .conts_infor_area .btn_area .search_area_opener a img {position:relative; left:-8px; top:1px;}
.conts_top_area .conts_infor_area .btn_area .search_area_opener a em {display:inline-block; width: 10px; height: 10px; background:url(../../images/common/arrow3.png) center center no-repeat; position:absolute; left:24px; top:11px; transform: rotate(180deg); transition:all 0.2s;}
.fixed.search_open .conts_top_area .conts_infor_area .btn_area .search_area_opener a em {transform: rotate(0deg); transition:all 0.2s;}

.conts_top_area .search_condition_box {padding: 33px 156px 13px 0; position:relative;}
.fixed .conts_top_area .search_condition_box {display:none; }
.fixed.search_open .conts_top_area .search_condition_box {display:block; background-color:#fff;}
.conts_top_area .search_condition_box .con_wrap {display:inline-block; }
.conts_top_area .search_condition_box .con_wrap:after {content:""; display:inline-block; vertical-align:middle; height:70px; }
.conts_top_area .search_condition_box .btn_area  {position:absolute;  right:0px; bottom:30px; }
.conts_top_area .search_condition_box .btn_area .button {width: 54px; }
.conts_top_area .search_condition_box .btn_area .button.search {background-image: url(../../images/common/ico_search.png); background-repeat: no-repeat; background-position: center center;}

.content_wrap {position:absolute; left:0px; top:0px; width: 100%; height: 100%; box-sizing: border-box; padding-top: 104px;}
.content_wrap.sub {padding-top: 264px;}
.content_inner {position:relative; width: 100%; height: 100%; overflow:hidden; overflow-y:auto; }

#contents {background-color:#fff; border-top: solid 10px #f5f5f5;}
#contents .pd_wrap {padding: 20px 38px 100px 38px; }

.list_top_area {width: 100%; display:inline-block; vertical-align:top; margin-bottom: 20px; }
.list_top_area .title {float: left; font-size:13px; line-height:27px; color:#282828; font-weight:bold; }
.list_top_area .r_area {float: right;}
.list_top_area .article_total {font-size:13px; line-height:27px; color:#aaaaaa;display:inline-block; padding-right: 20px; vertical-align:middle; }
.list_top_area .article_total strong {font-weight:normal; color:#626262; display:inline-block; padding-left: 5px; }
.list_top_area .list_total_choice_box {display:inline-block; position:relative; }
.list_top_area .list_total_choice_box .list_total_layer {display:none; position:absolute; left:-87px; top:35px; background-color:#fff; width: 140px; border-radius: 4px; border: solid 1px #e4e4e4; box-shadow: 0px 0px 8px rgba(0,0,0,0.1);}
.list_top_area .list_total_choice_box.open .list_total_layer  {display:block; }
.list_top_area .list_total_choice_box .list_total_layer::before {content:""; display:block; width:22px; height:10px; position:absolute; right:16px; top:-10px; background:url(../../images/common/balloon1.png) center center no-repeat;}
.list_top_area .list_total_choice_box .list_total_layer ul {padding: 15px 0;}
.list_top_area .list_total_choice_box .list_total_layer ul li { }
.list_top_area .list_total_choice_box .list_total_layer ul li a {display:block; padding: 0 0 0 22px; font-size:15px; line-height:36px; color:#626262; vertical-align:top; opacity:0.5;}
.list_top_area .list_total_choice_box .list_total_layer ul li a:hover {opacity:1;}
.list_top_area .list_total_choice_box .list_total_layer ul li.on a {opacity:1;}

.table_list_style1 {}
.table_list_style1 th {padding: 10px 0; font-size:12px; line-height:18px; color:#9b9b9b; font-weight:bold; text-align:left; border-bottom: solid 1px #dfdfdf;}
.table_list_style1 th.c {text-align:center; }
.table_list_style1 th.sort_select {color:#282828;}
.table_list_style1 td {padding: 20px 0; font-size:12px; line-height:18px; color:#626262; text-align:left; border-bottom: solid 1px #efefef; transition:background-color 0.15s;}
.table_list_style1 td.toggle {padding-top: 7px; padding-bottom: 0px; }
.table_list_style1 td.c {text-align:center; }
.table_list_style1 td a:hover {text-decoration:underline; }
.table_list_style1 td.sort_select {color:#282828;}
.table_list_style1 tr.selecting td {background-color:#f7fafc;}
.table_list_style1 tr:hover td {background-color:#f7fafc;}
.table_list_style1 .order_sorting {color:#626262; padding-right: 15px; background:url(../../images/common/ico_sort.png) right center no-repeat; cursor:pointer; opacity:0.7;}
.table_list_style1 .sorted_up .order_sorting {opacity:1; color:#2c2c2c; background:url(../../images/common/ico_sort_up.png) right center no-repeat;}
.table_list_style1 .sorted_down .order_sorting {opacity:1; color:#2c2c2c; background:url(../../images/common/ico_sort_down.png) right center no-repeat;}
.table_list_style1 .col_ing {color:#00d0be;}

.list_bottom_area {width: 100%; display:inline-block; vertical-align:top; position:fixed; left:0px; bottom:0px; z-index:50; min-width:1366px; padding-left: 248px; padding-right: 54px;  transition:all 0.3s; box-sizing: border-box;}
.fixed_screen .list_bottom_area {padding-left: 58px; }
.list_bottom_area .inner_box {background-color:#fff; width: 100%; height: 70px; overflow:hidden; padding-top: 11px; }
.list_bottom_area .btn_area {float: left; }
.list_bottom_area .btn_area .delete_box {display:inline-block; padding-right: 11px; margin-right: 6px; background:url(../../images/common/bar1.gif) right center no-repeat; }
.list_bottom_area .pagination {float: right; padding-top: 9px; }
.list_bottom_area .pagination a.disable {opacity:0.25;}
.list_bottom_area .pagination .btn_page_first {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_first.png) center center no-repeat; }
.list_bottom_area .pagination .btn_page_prev {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_prev.png) center center no-repeat; }
.list_bottom_area .pagination .btn_page_next {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_next.png) center center no-repeat; }
.list_bottom_area .pagination .btn_page_last {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_last.png) center center no-repeat; }
.list_bottom_area .pagination .number {display:inline-block; vertical-align:middle; padding: 0 10px; }
.list_bottom_area .pagination .number a {font-size:11px; line-height:20px; color:#2c2c2c; display:inline-block; vertical-align:middle; padding: 0 8px; opacity:0.44;}
.list_bottom_area .pagination .number a.on {font-weight:bold; opacity:1;}

.star			{margin-left: 3px; display:inline-block; vertical-align:middle; padding-top: 5px; line-height:12px; height: 12px; }
.star.primary	{color:#6d5ab1;}
.star.complete	{color:#41aef9;}
.star.success	{color:#00d0be;}
.star.warning	{color:#f9d145;}
.star.danger	{color:#f55653;}

.view_style_wrap {padding: 20px 38px; border-bottom: solid 1px #e6e6e6;}
.view_style_wrap.bnone {border-bottom: solid 0px #fff;}
.view_style1 th {padding: 22px 0; text-align:left; font-size:11px; line-height:26px; color:#626262; font-weight:bold; vertical-align:top; border-top: solid 1px #f3f3f3;}
.view_style1 tr:first-child th {border-top: solid 0px #fff;}
.view_style1 th.big_title {font-size:14px; line-height:18px; color:#282828; }
.view_style1 td {padding: 22px 0; text-align:left; vertical-align:top; border-top: solid 1px #f3f3f3;}
.view_style1 tr:first-child td {border-top: solid 0px #fff;}
.view_style1 .list_box {position:relative; padding-left: 90px; }
.view_style1 .list_box .tit {position:absolute; left:0px; top:0px; font-size:11px; line-height:22px; color:#626262;}

.one_n_one_prograss {width: 100%; overflow:hidden;}
.one_n_one_prograss li {float: left; padding: 0 27px 0 20px; font-size:13px; line-height:18px; color:#c8c8c8; background:url(../../images/common/arrow4.png) right center no-repeat;}
.one_n_one_prograss li.complete {color:#626262; }
.one_n_one_prograss li.ing {color:#00d0be;}
.one_n_one_prograss li:first-child {padding-left: 0px; }
.one_n_one_prograss li:last-child {background:none;}

.input_title_wraper {display:inline-block; vertical-align:middle;}
.input_title_wraper .title {display:block; font-size:11px; line-height:18px; color:#b3b3b3; vertical-align:top; padding-bottom: 5px; }
.input_title_wraper .title strong {color:#626262; display:inline-block; vertical-align:top; margin-right: 10px;}
.input_title_wraper.invalid input[type="text"] {border: solid 1px #f55653 !important; vertical-align:middle; }
.input_title_wraper.invalid input[type="password"] {border: solid 1px #f55653 !important; vertical-align:middle; }
.input_title_wraper .invalid_txt {display:none; color:#f55653; padding-top: 3px; font-size:12px; line-height:18px;}
.input_title_wraper.invalid .invalid_txt {display:block;}

.member_profile_box {display:inline-block; position:relative; z-index:10; }
.member_profile_box .profile_img_box {position:relative; display:inline-block; width: 80px; height: 80px; box-sizing: border-box; border: solid 1px #c0c0c0; border-radius: 80px; overflow:hidden; background-color:#d2d2d2; font-size:37px; line-height:76px; color:#fff; font-weight:500; text-align:center; }
.member_profile_box .profile_img_box img {position:absolute; left:0px; top:0px; width: 100%; }
.member_profile_box .profile_modify_box {display:inline-block; position:absolute; right:-9px; bottom:3px; }
.member_profile_box .profile_modify_box .btn_profile_modify { display:inline-block; width: 28px; height: 28px; box-sizing: border-box; border: solid 1px #f1f1f1; border-radius: 80px; overflow:hidden; background:url(../../images/common/ico_modify.png) center center no-repeat;  background-color:#fff;}
.member_profile_box .profile_modify_box.open .btn_profile_modify {background-color:#f2f2f2;}

.member_profile_box .profile_modify_box .modify_layer {display:none; position:absolute; left:-20px; top:32px; background-color:#fff; width: 140px; border-radius: 4px; border: solid 1px #e4e4e4; box-shadow: 0px 0px 8px rgba(0,0,0,0.1);}
.member_profile_box .profile_modify_box.open .modify_layer  {display:block; }
.member_profile_box .profile_modify_box .modify_layer::before {content:""; display:block; width:22px; height:10px; position:absolute; left:22px; top:-10px; background:url(../../images/common/balloon1.png) center center no-repeat;}
.member_profile_box .profile_modify_box .modify_layer ul {padding: 15px 0;}
.member_profile_box .profile_modify_box .modify_layer ul li { }
.member_profile_box .profile_modify_box .modify_layer ul li a {display:block; padding: 0 0 0 22px; font-size:15px; line-height:36px; color:#626262; vertical-align:top; opacity:0.5;}
.member_profile_box .profile_modify_box .modify_layer ul li a:hover {opacity:1;}

.login_wrap {width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:500; background-color:#6d5ab1;}
.login_wrap .bg {width:100%; height:100%; position:absolute; left:0px; top:0px; background-color:#000; opacity:0.4;}
.login_wrap .table_box {display:table; width:100%; height:100%;}
.login_wrap .out_layer_box {display:table-cell; text-align:center; vertical-align:middle;}
.login_wrap .in_layer_box {display:inline-block; position:relative; padding: 0px 40px 40px 40px;  z-index:10; border-radius: 4px; text-align:left; width: 524px; background-color:#fff; box-sizing: border-box;}
.login_wrap .in_layer_box .logo {padding-top: 60px; padding-bottom: 80px; }
.login_wrap .in_layer_box .comment {font-size:20px; line-height:28px; color:#282828; margin-bottom: 20px; }
.login_wrap .in_layer_box .pass_box {padding: 15px 0 25px 0; text-align:right; }
.login_wrap .in_layer_box .pass_box a {font-size:12px; line-height:18px; color:#626262; display:inline-block; border-bottom: solid 1px #626262;}
.login_wrap .in_layer_box .btn_box {text-align:right; }
.login_wrap .pw_logo {padding-top: 60px; padding-bottom: 30px; }
.login_wrap .pw_sub_title {font-size:32px; line-height:36px; color:#282828; padding-bottom: 12px; }
.login_wrap .pw_comment {font-size:17px; line-height:26px; color:#626262; padding-bottom: 45px; }

.popup {width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:500;}
.popup .bg {width:100%; height:100%; position:absolute; left:0px; top:0px; background-color:#000; opacity:0.4;}
.popup .popup_inner {display:table; width:100%; height:100%;}
.popup .out_layer_box {display:table-cell; text-align:center; vertical-align:middle;}
.popup .in_layer_box {display:inline-block; position:relative; z-index:10; border-radius: 6px; text-align:left; }
.popup .btn_close {display:inline-block; width:25px; height:25px; background:url(../../images/btn_popup_close.png) 0 0 no-repeat; position:absolute; right:30px; top:30px;}
.popup .title {font-size:18px; line-height:24px; color:#2c2c2c; font-weight:bold; margin-bottom:5px; }
.popup .tit_comment {font-size:13px; line-height:24px; color:#626262; margin-bottom: 45px; letter-spacing:-0.05em; }
.popup .btn_area {text-align:right; }

.popup_visible_order .in_layer_box {width:464px; height:auto; padding: 40px 34px;  background-color:#fff; text-align:left;  box-sizing: border-box; }
.popup_visible_order .order_list {border-top: solid 1px #dfdfdf; border-bottom: solid 1px #dfdfdf; margin-bottom: 30px; }
.popup_visible_order .order_list li {height: 45px; position:relative; padding-left: 45px; padding-right: 40px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:13px; line-height:45px; color:#282828; font-weight:300; border-top: solid 1px #efefef; background:url(../../images/common/ico_order.gif) 365px center no-repeat; background-color:#fff; cursor:pointer;}
.popup_visible_order .order_list li:first-child {border-top: solid 0px #fff;}
.popup_visible_order .order_list li .num {display:inline-block; width: 45px; position:absolute; left:0px; top:0px; text-align:center; }
.popup_visible_order .order_list li.ui-sortable-helper {background-color:#f7fafc; border-top: solid 0px #fff;}

.popup_password .in_layer_box {width:464px; height:auto; padding: 40px 34px;  background-color:#fff; text-align:left;  box-sizing: border-box; }
.popup_password .pop_table_view_box {padding: 12px 0; }
.popup_password .pop_table_view th {font-size:11px; line-height:18px; color:#626262; border-bottom: solid 1px #efefef;text-align:left; }
.popup_password .pop_table_view td {padding: 20px 0; border-bottom: solid 1px #efefef;}
.popup_password .pop_table_view tr.sp th {padding: 8px 0; border-bottom: solid 0px #fff; }
.popup_password .pop_table_view tr.sp td {padding: 8px 0; border-bottom: solid 0px #fff; }

.tab_wrap {margin: 0 38px; position:relative; }
.tab_wrap:before {content:''; display:block; position:absolute; left:0px; bottom:0px;  height: 1px; width: 100%; background-color:#eee;}
.tab_wrap > ul {width: 100%; display:inline-block; vertical-align:top; position:relative; }
.tab_wrap > ul > li {float: left; }
.tab_wrap > ul > li > a { display:inline-block; height: 48px; padding: 0 20px; box-sizing: border-box; font-size:12px; line-height:47px; color:#888888;}
.tab_wrap > ul > li.on > a {border-bottom: solid 3px #0090d9; color:#282828; }
.tab_wrap > ul > li > ul {display:none; width: 100%; position:absolute; left:0px; top:48px; background-color:#fcfcfc;}
.tab_wrap > ul > li.on > ul {display:block; height: 37px; border-bottom: solid 1px #eee; }
.tab_wrap > ul > li > ul > li {float: left;}
.tab_wrap > ul > li > ul > li > a { display:inline-block; height: 37px; padding: 0 30px; font-size:11px; line-height:37px; color:#9a9a9a;}
.tab_wrap > ul > li > ul > li.on > a {color:#626262; position:relative; }
.tab_wrap > ul > li > ul > li.on > a:before {content:''; display:block; position:absolute; left:50%; top:37px; margin-left: -12.5px; height: 11px; width: 25px; background:url(../../images/common/arrow5.png) 0 0 no-repeat; }

.tab_wrap.depth2 {padding-bottom: 37px; }

/* Layout */

@media screen and (max-width: 1920px) {
	/* Main */

}

@media screen and (max-width: 750px) {
	/* Layout */

}