/* layout */
html,body {overflow:auto;}
#left_area {position:fixed}
#container {overflow:scroll}


/*컨설턴트 리스트 - 매칭 인원 팝업*/
#rPaging .number a{
	font-size: 11px;
	line-height: 20px;
	color: #2c2c2c;
	display: inline-block;
	vertical-align: middle;
	padding: 0 8px;
	opacity: 0.44;
}
#rPaging .btn_page_first {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_first.png) center center no-repeat; }
#rPaging .btn_page_prev {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_prev.png) center center no-repeat; }
#rPaging .btn_page_next {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_next.png) center center no-repeat; }
#rPaging .btn_page_last {display:inline-block; width: 12px; height: 20px; vertical-align:middle; background:url(../../images/common/ico_page_last.png) center center no-repeat; }

/*내 정보, 컨설턴트 등록, 수정 - 가능 대상, 가능 서비스*/
.checkbox span.object {display:inline-block; width: 100px; padding-left:5px; padding-right:5px;}
.checkbox span.service {display:inline-block; width: 100px; vertical-align: middle; padding-left:5px; padding-right:5px; word-break:keep-all;}
img.address_select { vertical-align: middle; }

/*textarea 미입력 오류 표시*/
.input_title_wraper .invalid_textarea {display:none; color:#f55653; padding-top: 3px; font-size:12px; line-height:18px;}
.input_title_wraper.invalid .invalid_textarea {display:block;}
.input_title_wraper.invalid textarea {border: solid 1px #f55653 !important; vertical-align:middle; }
.input_title_wraper.invalid .note-editor.note-frame {border: solid 1px #f55653 !important;}

/*radio 미입력 오류 표시*/
.input_title_wraper.invalid .radio em {border: solid 1px #f55653;}
.input_title_wraper .invalid_radio {display:none; color:#f55653; padding-top: 3px; font-size:12px; line-height:18px;}
.input_title_wraper.invalid .invalid_radio {display:block;}

/*checkbox 미입력 오류 표시*/
.input_title_wraper.invalid .checkbox em {border: solid 1px #f55653;}
.input_title_wraper .invalid_checkbox {display:none; color:#f55653; padding-top: 3px; font-size:12px; line-height:18px;}
.input_title_wraper.invalid .invalid_checkbox {display:block;}

/*select 미입력 오류 표시*/
.input_title_wraper.invalid select {border: solid 1px #f55653 !important;}

/* disbled 색상처리 */
.input_title_wraper select:disabled {background-color:#f8f8f8 ; border: solid 1px #eeeeee;}

/*상품 등록, 수정 테이블*/
.table_list_style1.option_detail th { padding-top: 0px;}

/*결제 내역 상세 페이지*/
.view_style1 td a:hover {text-decoration:underline; }

/*고객 관리 탭*/
.client_tab_area .inner_cta {position:relative; padding: 0 38px; width: 100%; box-sizing: border-box; }
.fixed .client_tab_area .inner_cta {position:fixed; z-index:50;  min-width:1366px; left:0px; top:104px; padding-left: 248px;}
.fixed.search_open .client_tab_area .inner_cta {box-shadow: 0px 5px 5px rgba(0,0,0,0.05);}
.fixed_screen .fixed .client_tab_area .inner_cta {padding-left: 58px;}

.sub .client_tab_area .inner_cta {position:fixed; min-width:1366px; left:0px; top:104px; padding-left: 248px; transition:all 0.3s;}
.fixed_screen .sub .client_tab_area .inner_cta {padding-left: 58px;}

.client_tab_area .tab_info_area {background-color:#fff; box-sizing: border-box; height: 58px; padding: 13px 0 13px 0; position:relative; overflow:hidden;}
.fixed .client_tab_area .tab_info_area {height: 55px;}
.client_tab_area .tab_info_area .btn_area {position:absolute; right:0px;}

.client_tab_area .search_condition_box {padding: 13px 156px 13px 0; position:relative;}
.fixed .client_tab_area .search_condition_box {display:none; }
.client_tab_area .search_condition_box .con_wrap {display:inline-block; }
.client_tab_area .search_condition_box .con_wrap:after {content:""; display:inline-block; vertical-align:middle; height:70px; }
.client_tab_area .search_condition_box .btn_area  {position:absolute;  right:0px; bottom:30px; }
.client_tab_area .search_condition_box .btn_area .button {width: 54px; }
.client_tab_area .search_condition_box .btn_area .button.search {background-image: url(../../images/common/ico_search.png); background-repeat: no-repeat; background-position: center center;}


/* 폴딩 */
.accordion ul li:first-child{border-top:solid 1px #efefef;}
.accordion ul li{border-bottom:solid 1px #efefef;}
.accordion ul li a.title_bar{font-size:14px;display:block;padding:10px 0;overflow: hidden}
.accordion ul li a.title_bar:hover,.accordion ul li a.title_bar:visited, .accordion ul li a.title_bar:link{text-decoration: none;color: #222}
.accordion ul li.open a.title_bar{background-color:#f7fafc;border-bottom:solid 1px #efefef;	}
.accordion ul li a.title_bar span{padding: 0 20px;}
.accordion ul li a.title_bar span.arrow::after{width:11px; background:url(../../images/common/arrow_down.png) left center no-repeat;height:11px;content:"";display: inline-block}
.accordion ul li.open a.title_bar span.arrow::after{width:11px; background:url(../../images/common/arrow_up.png) left center no-repeat;height:11px;content:"";display: inline-block}
.accordion ul li .accordion_box{display: none;padding:20px 30px;}
.accordion ul li.open .accordion_box{display: block;}
.accordion ul li div.contents {display:none;}
.accordion ul li.open div.contents {display:block;}
.accordion ul li .btn_area {border-top:solid 1px #f3f3f3;padding:10px 20px}
.accordion span.date {float: right}

.pop_consult .view_style1 td, .accordion_box .view_style1 td{padding:10px 5px;}
.pop_consult .view_style1 th, .accordion_box .view_style1 th{padding:10px 5px;}
.pop_consult .view_style1 .input_title{display: block;font-size: 11px;line-height: 18px;color: #b3b3b3;vertical-align: top;padding-bottom: 5px;}
.pop_consult .view_style_wrap {border-bottom: none;}


/* [관리자] List 목록 */
.table_list_style1 td {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/*
상세, 수정 하단 버튼*/
.conts_bot_area .inner_cta {position:relative; padding: 0 38px; width: 100%; box-sizing: border-box; }
.conts_bot_area .conts_infor_area {background-color:#fff; box-sizing: border-box; height: 70px; padding: 20px 0 30px 0; position:relative; overflow:hidden; border-bottom: solid 1px #f5f5f5;}
.conts_bot_area .conts_infor_area .btn_area {float: right; position:absolute; top:5px; right:0px; bottom:0px; }

.mt5 .infoCst {margin-top:0px !important;}

.view_style1 td .infoCst2 {padding: 0px 0; text-align:left; vertical-align:top; border-top: solid 1px #f3f3f3;}

/* 이중 스크롤 방지 */
.content_inner{width:auto; height: auto; overflow-x: hidden; overflow-y: hidden;}
