
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900|Noto+Serif+KR:300,500,600,700,900&display=swap&subset=korean');

@font-face {
    font-family:'HSBomBaram2.0';
    font-style:normal;
    font-weight:400;
	src:local(※),
		url(../font/HSBomBaram2.0.woff) format('woff'); 
}
