@charset "utf-8";

* 	 		{margin:0; padding:0;}

body		{font-size:14px; font-weight:normal; line-height:1.5; color: #666;}
ul,ol,li	{list-style:none;}
img,hr		{border:none;}
img			{vertical-align:top; border:0px;}

table 			{width:100%; border-spacing:0; table-layout:fixed;}
table td img	{vertical-align:middle;}

a			{vertical-align:top; color:#666; outline:none;}
a:link		{text-decoration:none; color:inherit;}
a:visited	{text-decoration:none; color:inherit;}
a:active	{text-decoration:none; color:inherit;}
a:hover		{text-decoration:none; color:inherit;}

article,aside,bdi,details,dialog,figcaption,figure,footer,header,main,mark,menuitem,meter,nav,progress,rp,rt,ruby,section,summary,time,wbr,
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,pre {font-family:'Noto Sans KR', dotum, Arial, sans-serif; font-weight:300; }
strong,h1,h2,h3,h4,h5,h6,th,b,dt {font-family:'Noto Sans KR'; font-weight:500; font-size:inherit; color:inherit;}

input,select			{vertical-align:middle; outline:none;}
input[type=text],
input[type=password]	{display:inline-block; width:100%; height:30px; padding:5px; border:1px solid #eeeeee; background-color:#fff; font-size:14px; color:#666; box-sizing:border-box;}
input[type=text]::-ms-clear { 
    display: none; 
}
input[type=password]::-ms-clear { 
    display: none; 
}
select					{display:inline-block; width:100%; height:30px; padding:0 0 0 5px; border:1px solid #ccc; background-color:#fff; font-size:14px; color:#666; box-sizing:border-box;}
textarea				{display:inline-block; width:100%; padding:5px; border:solid 1px #ccc; background-color:#fff; font-size:14px; color:#666; box-sizing:border-box;}
input[type=file],input[type=image],input[type=reset],input[type=button],input[type=submit] {cursor:pointer;}
textarea::placeholder {color: #cacaca; font-weight:300; }
input::placeholder {color: #cacaca; font-weight:300; }
textarea:-ms-input-placeholder {color: #cacaca !important; font-weight: 300 !important;}
input:-ms-input-placeholder {color: #cacaca !important; font-weight: 300 !important;}
textarea::-ms-input-placeholder {color: #cacaca; font-weight: 300;}
input::-ms-input-placeholder {color: #cacaca; font-weight: 300;}

hr, caption		{display:block;width:0;height:0;margin:0;padding:0;line-height:0;font-size:0;overflow:hidden;}
legend			{position:absolute; height:0; font-size:0px; line-height:0; overflow:hidden;}
address,cite,em	{font-style:normal;}
fieldset,iframe	{border:0;}
label			{cursor:pointer;}
sup,sub         {line-height:1em;}

html.fixed {height:100%;}
html.fixed body {height:100%; overflow:hidden;}

.blind {display:block;width:0;height:0;margin:0;padding:0;line-height:0;font-size:0;overflow:hidden;}

.pt0 {padding-top:0px !important;}.pt5 {padding-top:5px !important;}.pt10 {padding-top:10px !important;}.pt15 {padding-top:15px !important;}.pt20 {padding-top:20px !important;}.pt25 {padding-top:25px !important;}.pt30 {padding-top:30px !important;}.pt35 {padding-top:35px !important;}.pt40 {padding-top:40px !important;}.pt45 {padding-top:45px !important;}.pt50 {padding-top:50px !important;}.pt55 {padding-top:55px !important;}.pt60 {padding-top:60px !important;}
.pr0 {padding-right:0px !important;}.pr5 {padding-right:5px !important;}.pr10 {padding-right:10px !important;}.pr15 {padding-right:15px !important;}.pr20 {padding-right:20px !important;}.pr25 {padding-right:25px !important;}.pr30 {padding-right:30px !important;}.pr35 {padding-right:35px !important;}.pr40 {padding-right:40px !important;}.pr45 {padding-right:45px !important;}.pr50 {padding-right:50px !important;}.pr55 {padding-right:55px !important;}.pr60 {padding-right:60px !important;}
.pb0 {padding-bottom:0px !important;}.pb5 {padding-bottom:5px !important;}.pb10 {padding-bottom:10px !important;}.pb15 {padding-bottom:15px !important;}.pb20 {padding-bottom:20px !important;}.pb25 {padding-bottom:25px !important;}.pb30 {padding-bottom:30px !important;}.pb35 {padding-bottom:35px !important;}.pb40 {padding-bottom:40px !important;}.pb45 {padding-bottom:45px !important;}.pb50 {padding-bottom:50px !important;}.pb55 {padding-bottom:55px !important;}.pb60 {padding-bottom:60px !important;}
.pl0 {padding-left:0px !important;}.pl5 {padding-left:5px !important;}.pl10 {padding-left:10px !important;}.pl15 {padding-left:15px !important;}.pl20 {padding-left:20px !important;}.pl25 {padding-left:25px !important;}.pl30 {padding-left:30px !important;}.pl35 {padding-left:35px !important;}.pl40 {padding-left:40px !important;}.pl45 {padding-left:45px !important;}.pl50 {padding-left:50px !important;}.pl55 {padding-left:55px !important;}.pl60 {padding-left:60px !important;}
.mt0 {margin-top:0px !important;}.mt5 {margin-top:5px !important;}.mt10 {margin-top:10px !important;}.mt15 {margin-top:15px !important;}.mt20 {margin-top:20px !important;}.mt25 {margin-top:25px !important;}.mt30 {margin-top:30px !important;}.mt35 {margin-top:35px !important;}.mt40 {margin-top:40px !important;}.mt45 {margin-top:45px !important;}.mt50 {margin-top:50px !important;}.mt55 {margin-top:55px !important;}.mt60 {margin-top:60px !important;}
.mr0 {margin-right:0px !important;}.mr5 {margin-right:5px !important;}.mr10 {margin-right:10px !important;}.mr15 {margin-right:15px !important;}.mr20 {margin-right:20px !important;}.mr25 {margin-right:25px !important;}.mr30 {margin-right:30px !important;}.mr35 {margin-right:35px !important;}.mr40 {margin-right:40px !important;}.mr45 {margin-right:45px !important;}.mr50 {margin-right:50px !important;}.mr55 {margin-right:55px !important;}.mr60 {margin-right:60px !important;}
.mb0 {margin-bottom:0px !important;}.mb5 {margin-bottom:5px !important;}.mb10 {margin-bottom:10px !important;}.mb15 {margin-bottom:15px !important;}.mb20 {margin-bottom:20px !important;}.mb25 {margin-bottom:25px !important;}.mb30 {margin-bottom:30px !important;}.mb35 {margin-bottom:35px !important;}.mb40 {margin-bottom:40px !important;}.mb45 {margin-bottom:45px !important;}.mb50 {margin-bottom:50px !important;}.mb55 {margin-bottom:55px !important;}.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}
.ml0 {margin-left:0px !important;}.ml5 {margin-left:5px !important;}.ml10 {margin-left:10px !important;}.ml15 {margin-left:15px !important;}.ml20 {margin-left:20px !important;}.ml25 {margin-left:25px !important;}.ml30 {margin-left:30px !important;}.ml35 {margin-left:35px !important;}.ml40 {margin-left:40px !important;}.ml45 {margin-left:45px !important;}.ml50 {margin-left:50px !important;}.ml55 {margin-left:55px !important;}.ml60 {margin-left:60px !important;}
