<!-- START HEADER -->
<div class="header ">
	<div class="logo"><img src="/tds/images/common/logo.png" alt="todos logo" /></div>
	<div class="profile">
		<div class="name"></div>
		<a href="#self" class="photo">
			<img src="" alt=""/>
		</a>
		<div class="layer_menu">
			<a href="#self" class="menu1" onclick="moveMyProfile();"><span>Profile</span></a>
			<a href="#self" class="logout" onclick="adminLogout();"><span>Logout</span></a>
		</div>
	</div>
</div>
<!-- END HEADER -->