<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonTmplFragement">
    <script id="confirmPopTemplate" type="text/x-jquery-tmpl">
        <div class="popup_visible_order popup pop_new confirmPop" style="display:none; opacity:0;">
            <div class="bg"></div>
            <div class="popup_inner">
                <div class="out_layer_box">
                    <div class="in_layer_box">
                        <h2 class="title mb40" style="text-align: center;">{{html message}}</h2>

                        <div class="btn_area" style="text-align: center;">
                            <a href="#self" class="button primary confirm">확인</a>
                            <a href="#self" class="button cancel" onclick="layer_CLOSE('.pop_new')">취소</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="alertPopTemplate" type="text/x-jquery-tmpl">
        <div class="popup_visible_order popup alertPop" style="display:none; opacity:0;">
			<div class="bg"></div>
			<div class="popup_inner">
				<div class="out_layer_box">
					<div class="in_layer_box">
						<h2 class="title mb40" style="text-align: center;">{{html message}}</h2>

						<div class="btn_area" style="text-align: center;">
							<a href="#self" class="button primary confirm" onclick="layer_CLOSE('.alertPop')">확인</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </script>
</head>
</html>