<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="memberTmplFragement">
    <!-- 상담일지 -->
    <script id="consultDiaryListTemplate" type="text/x-jquery-tmpl">
        <li>
            <a href="#" class="title_bar">
                <span class="arrow"></span>
                <span class="nm">${userNm}</span> | <span>${constFieldNm}</span> <span class="date">${writeDt}</span>
            </a>
            <div class="accordion_box">
                <div class="contents">
                    {{html contents}}
                </div>
                {{if isAdmin || creId == managerUserSeq}}
                <div class="btn_area mt20" data-seq="${diarySeq}" >
                    <a href="#self" class="button tiny primary consultEditBtn">수정</a>
                    <a href="#self" class="button tiny consultDelBtn">삭제</a>
                </div>
                {{/if}}
            </div>
        </li>
    </script>

    <!-- 추천 상품 -->
    <script id="recommendProductListTemplate" type="text/x-jquery-tmpl">
        <li>
            <a href="#" class="title_bar">
                <span class="arrow"></span>
                <span>${productNm}</span>
            </a>
            <div class="accordion_box">
                <div class="contents">
                    <div class="view_style_wrap bnone" style="padding:0 38px;">
                        <table cellpadding="0" cellspacing="0" class="view_style1">
                            <colgroup>
                                <col width="21%"><col width="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">컨설턴트이름</th>
                                <td>
                                    ${userNm}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상품 썸네일 사진</th>
                                <td>
                                    <img src="${filePath}" alt="추천상품 썸네일" width="400" />
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">상품 URL *</th>
                                <td>
                                    ${recUrl}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">상품옵션</th>
                                <td>
                                    ${contents}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn_area mt20" data-seq=${recSeq}>
                    <a href="#self" class="button tiny primary recEditBtn">수정</a>
                    <a href="#self" class="button tiny recDelBtn">삭제</a>
                </div>
            </div>
        </li>
    </script>
</head>
</html>